$color1: #098C02;

@import "_nullstyle.scss";
@import "_header.scss";
@import "_articles.scss";
@import "_price.scss";
@import "_questions.scss";
@import "_reviews.scss";
@import "_about.scss";
@import "_important.scss";
@import "_documents.scss";
@import "_contract.scss";
@import "_delivery.scss";
@import "_footer.scss";



%gradient {
    /* ff 3.6+ */
    background: -moz-linear-gradient(90deg, rgba(16, 237, 5, 1) 0%, rgba(14, 160, 15, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(90deg, rgba(16, 237, 5, 1) 0%, rgba(14, 160, 15, 1) 100%);

    /* opera 11.10+ */
    background: -o-linear-gradient(90deg, rgba(16, 237, 5, 1) 0%, rgba(14, 160, 15, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0EA00F', endColorstr='#10ED05', GradientType=0);

    /* ie 10+ */
    background: -ms-linear-gradient(90deg, rgba(16, 237, 5, 1) 0%, rgba(14, 160, 15, 1) 100%);

    /* global 94%+ browsers support */
    background: linear-gradient(90deg, rgba(16, 237, 5, 1) 0%, rgba(14, 160, 15, 1) 100%);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;

    @media(max-width:1400px) {
        max-width: 1000px;
    }

    @media(max-width:1250px) {

        max-width: 750px;

    }

    @media(max-width:990px) {

        // max-width: 850px;
        max-width: 100%;
    }

    @media(max-width:767px) {

        max-width: 100%;

    }
}

.main {
    display: flex;
}

.sidebar {
    flex: 0 0 250px;
    // border-right: 50px solid @extend %gradient;
    display: flex;

    @media (max-width: 990px) {
        display: none;
    }
}

.sidebar__main {
    flex-grow: 1;
    padding: 20px;
}

.sidebar__border {
    flex: 0 0 50px;
    height: 100%;
    position: relative;
    z-index: 2;
    // @extend %gradient;
    background: #10E606;
}

.sidebar__title {
    font-size: 22px;
    color: $color1;
    text-align: center;
    margin: 0px 0px 15px 0px;
}

.sidebar__subtitle {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0px 0px 15px 0px;
}


.sidebar__articles {
    margin: 30px 0px 0px 0px;
}

.sidebar__box {
    margin: 0px 0px 5px 0px;
}

.sidebar__links {
    margin: 0px 0px 10px 0px;
}

a.sidebar__link {
    color: #000;
    font-weight: bold;
    line-height: 16px;
    text-align: center;

    &:hover {
        border-bottom: 1px solid black;
    }

}



.content {
    flex-grow: 1;
    width: 100%;
}

.achievements {
    position: relative;
    padding-top: 50px;
}

.achievements__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/hand.webp) center 40% / cover no-repeat;
    filter: brightness(50%);
}

.achievements__title {
    position: relative;
    z-index: 1;
}

.achievements__title-title {
    color: #fff;
    z-index: -1;
}

.title {
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    font-weight: 800;
    color: #222;
    transition: all 0.8s ease 0.3s;
    transform: translate(0, 100%);
    opacity: 0;
}

.anim-bottom {
    transition: all 0.8s ease 0.3s;
    transform: translate(0, 100%);
    opacity: 0;

    &._active {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.anim-scale {
    transition: all 0.8s ease .3s;
    // transform: scale(0);
    transform: translateX(80%);
    opacity: 0;

    &._active {
        // transform: scale(1);
        transform: translateX(0%);
        opacity: 1;
    }
}

.title__box {
    display: flex;
    justify-content: center;
}

.title__title {
    font-size: 22px;
    letter-spacing: 1px;
    padding: 0px 0px 10px 0px;
    border-bottom: 3px solid #2C87F0;
}

.title__border {
    margin: -3px 0px 0px 0px;
    border-bottom: 3px solid #EEEEEE;
}

.slider {
    position: relative;
    transition: all 0.8s ease 0.3s;
    transform: translate(0, 50%);
    opacity: 0;
    width: 90%;
    margin: 0px auto;

    @media (max-width: 990px) {
        width: 90%;
        margin: 0px auto;
    }

    &._active {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.image-slider {
    padding: 30px 0 70px 0;
    position: relative;
}

.image-slider,
.image-slider-2,
.image-slider-3 {
    overflow: hidden;
    margin: 20px 0px 0px 0px;
}

.image-slider__image {
    text-align: center;

    & img {
        max-width: 150px;
        cursor: pointer;
    }

    @media(max-width:990px) {
        & img {
            max-width: 90%;
        }
    }
}

.slider__box {
    position: relative;
}

/* Стрелки */
.swiper-button-prev,
.swiper-button-next {
    transform: translateY(-50%);
    z-index: 15;
}


.swiper-button-prev {
    left: -35px;
}

.swiper-button-next {
    right: -35px;
}


.swiper-button-prev::after,
.swiper-button-next::after {
    color: #8E8E8E;
    font-size: 30px;
    font-weight: bold;
}

.swiper-button-prev-2,
.swiper-button-next-2,
.swiper-button-prev-3,
.swiper-button-next-3 {
    transform: translateY(-50%);
    top: 50%;
    z-index: 15;
    width: 50px;
    height: 50px;
    // background: red;
    position: absolute;
}

.swiper-button-prev-2,
.swiper-button-prev-3 {
    left: -35px;
    background: url(../img/icon/arrows-l.webp) 0 0 / 100% 100% no-repeat;
}

.swiper-button-next-2,
.swiper-button-next-3 {
    right: -35px;
    background: url(../img/icon/arrows-ri.webp) 0 0 / 100% 100% no-repeat;
}

.courses {
    background: url(../img/courses-4.webp) center center/ 100% 100% no-repeat;
    padding: 100px 0 50px;
    position: relative;
}

.assortiment {

    // .assortiment__row
    &__row {
        margin: 50px 0px 0px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;

        @media(max-width:1400px) {
            justify-content: center;
            gap: 50px;
        }

        @media(max-width:1200px) {

            gap: 50px;
        }

        @media(max-width:990px) {
            // justify-content: space-between;
            gap: 20px;
        }

        @media(max-width:550px) {
            justify-content: center;
        }
    }

    // .assortiment__item
    &__item {
        flex: 0 0 31%;
        // width: 330px;
        box-shadow: 0 6px 20px 10px #EBEEF8;
        border-radius: 10px;
        background: #fff;
        padding: 25px;
        transition: 1s;
        display: flex;
        justify-content: center;
        position: relative;

        &:hover {
            box-shadow: 0 6px 17px 10px #c1c6d6;
        }

        @media (max-width: 1400px) {
            flex: 0 0 320px;
            // width: 300px;
            padding: 25px;
            margin: 0px 0px 20px 0px;
        }

        @media (max-width: 990px) {
            flex: 0 0 31%;
            padding: 25px;
            margin: 0px 0px 20px 0px;
        }

        @media (max-width: 767px) {
            flex: 0 0 45%;
        }

        @media (max-width: 500px) {
            flex: 0 0 80%;
        }

        @media (max-width: 400px) {
            flex: 0 0 90%;
        }

    }

    &__top {
        position: absolute;
        left: 0;
        top: -100px;
    }

    // .assortiment__title
    &__title {
        font-size: 18px;
        font-weight: 800;
        color: #222;
        margin: 0px 0px 20px 0px;
        text-align: center;
    }

    // .assortiment__image
    &__image {
        margin: 0px -10px 20px -10px;
        height: 292px;
        text-align: center;

        @media (max-width: 990px) {
            height: auto;
        }
    }

    //.assortiment__image-big
    &__image-big {
        @media (max-width: 990px) {
            height: 292px;
        }
    }

    // .assortiment__img
    &__img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    // .assortiment__body
    &__body {
        display: flex;
        flex-direction: column;
    }

    // .assortiment-select
    .assortiment-select {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        // .assortiment-select__content
        &__content {
            flex-grow: 1;
            display: flex;
            // justify-content: flex-end;
        }

        // .assortiment-select__box
        .assortiment-select__box {
            position: relative;
            // background-color: #838988;
            // height: 50px;
            // min-height: 100%;
            transition: all 10.9s;
        }

        // .assortiment-select__nav
        .assortiment-select__nav {
            margin-bottom: 25px;
            position: relative;
            // background-color: #838988;
            // height: 100%;
            padding: 10px;
            cursor: pointer;
            transition: all 10.9s;
            width: 100%;

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 5px;
                background-color: #838988;
            }
        }


        // .assortiment-select__row
        &__row {
            position: relative;
            height: 100%;
            transition: all 10.9s;
            min-height: 15px;
            z-index: 10;

            &::after {
                content: '\25BC';
                position: absolute;
                top: 0px;
                right: 0;
                cursor: pointer;
            }
        }

        // .assortiment-select__items
        &__items {
            position: relative;
            top: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            color: #fff;
            transition: .5s;
            height: 0px;

            &:hover {
                color: rgb(213, 207, 207);
            }
        }

        // .assortiment-select__items._active
        &__items._active {
            // display: block;
            opacity: 1;
            visibility: visible;

        }

        // .assortiment-select__content-item
        &__content-item {
            display: none;

        }

        // .assortiment-select__content-item._active
        &__content-item._active {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        // .assortiment-select__row._active .assortiment-select__items
        &__row._active .assortiment-select__items {
            opacity: 1;
            visibility: visible;
            height: 10px;
        }

        // .assortiment-select__row._active .assortiment-select__items:not(:last-child)
        &__row._active .assortiment-select__items:not(:last-child) {
            margin: 0px 0px 10px 0px;
        }

    }




    // .assortiment__text
    .assortiment__text {
        color: #5a4f4f;
        font-weight: bold;
        font-size: 18px;
        margin: 0px 0px 10px 0px;

        // .assortiment__text-grow
        &-grow {
            flex-grow: 1;
        }

        & span {
            font-weight: normal;
            font-size: 16px;
        }
    }

    // .assortiment__links
    .assortiment__links {
        margin: 20px auto 0px;
        text-align: center;
        width: 100%;
    }

    // a.assortiment__link
    a.assortiment__link {
        width: 100%;
        border-radius: 7px;
        font-size: 13px;
        padding: 10px;
        color: #fff;
        font-weight: 800;
        display: inline-block;
        transition: .2s;

        @extend %gradient;

        &:hover {
            transform: scale(1.05);
        }
    }
}


.product {
    padding: 70px 0px 0px 30px;
    position: relative;
    background: url(../img/shop-1.webp) center center/ cover no-repeat;
}

.related {
    padding: 70px 0px 0px 30px;
}

.services {
    padding: 70px 0px 0px 30px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(5, 5, 5, 0.597);
    z-index: 999;
    display: none;
}

////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////

.modal {
    width: 370px;
    height: 480px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.302);
    z-index: 999;
    display: none;

    &__icon {
        width: 50px;
        position: absolute;
        z-index: 999;
        cursor: pointer;
    }

    &__icon img {
        width: 100%;
    }

    &__img {
        width: 100%;
    }

    &__close {
        top: -50px;
        right: -50px;
    }

    &__left {
        top: 50%;
        left: -70px;
        transform: translateY(-50%);
    }

    &__right {
        top: 50%;
        right: -70px;
        transform: translateY(-50%);
    }
}

////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.8s ease 0s;
    opacity: 0;
    visibility: hidden;
    z-index: 205;
    overflow-y: hidden;
    overflow-x: hidden;

    &.open {
        opacity: 1;
        visibility: visible;
    }

    &.open &__content {
        transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
        opacity: 1;
    }

    &__body {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 10px;
        transition: all 0.8s ease 0s;
    }

    &__content {
        max-width: 400px;
        height: 400px;
        color: #000;
        padding: 30px;
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.8s ease 0s;
        transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    }

    &__bg {
        position: absolute;
        border-radius: 5px;
        top: 0;
        left: 0;
        z-index: -1;
        filter: brightness(60%);
        width: 100%;
        height: 100%;
        box-shadow: 0 0 30px 2px white;
        background: white url(../img/bg.webp) center center/ cover no-repeat;
    }

    &__title {
        font-family: 'Montserrat';
        font-size: 38px;
        font-weight: 600;
        text-align: center;
        letter-spacing: 2px;
        margin: 0px 0px 1em 0px;
        color: white;
    }

    .close {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 32px;
        height: 32px;
        transition: 0.5s;

        &:hover {
            transform: rotate(90deg);
        }

        &:before,
        &:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 33px;
            width: 2px;
            background-color: #fff;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }
}


#popup-consultation .popup.open,
#popup-write .popup.open {
    opacity: 1;
    visibility: visible;
}

#popup-consultation.popup.open .popup__content,
#popup-write.popup.open .popup__content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

#popup-consultation .popup__content {
    max-width: 600px;
    height: 500px;
    color: #000;
    padding: 30px;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease 0s;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);

    @media (max-width: 416px) {
        height: 450px;
    }
}

#popup-consultation .forms__row,
#popup-write .forms__row {
    flex-direction: column;
}

#popup-consultation .popup__forms,
#popup-write .popup__forms {
    width: 100%;
}



#popup-write .popup__content {
    width: 600px;
    height: 450px;
    color: #000;
    padding: 30px;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease 0s;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);

    @media (max-width: 416px) {
        height: 450px;
    }
}

.popup__body {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(51, 51, 51, 0.9) url("../img/loading.gif") center / 50px no-repeat;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease 0s;
        z-index: 9999;
    }

    &._sending {
        margin: 0;
    }

    &._sending::after {
        opacity: 1;
        visibility: visible;
    }
}

.forms__row {
    display: flex;
    flex-wrap: wrap;
}

.forms__row input {
    flex: 1 1 70%;
}

.form__text {
    border-bottom: 1px solid #fff;
    font-size: 17px;
    margin: 0 10px 40px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

#popup-consultation .popup__title,
#popup-write .popup__title {
    margin: 0px 0px 0.5em 0px;
}

#popup-consultation .form__text,
#popup-write .form__text {
    font-size: 17px;
    margin: 0 0px 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

#popup-consultation .form__text-last,
#popup-write .form__text-last {
    margin: 0 0px 0px;
}

.form__textarea {
    margin: 10px 0px 10px;
    color: #fff;
}

textarea {
    margin: 0px 0px 15px 0px;
    font-size: 18px;
}

.form__text._error {
    box-shadow: 0 0 15px red;
}

.form__text:not(:last-child) {
    margin: 0 10px 40px;
}

::-webkit-input-placeholder {
    color: #fff;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}

.forms__submit {
    display: flex;
    justify-content: flex-end;
}

button.form__submit {
    color: #fff;
    padding: 10px 20px;
    width: 150px;
    background: transparent;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
    background-image: linear-gradient(to left, transparent, transparent 50%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8));
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: 400 18px tahoma;
    border: 1px solid #fff;
}

button.form__submit:hover {
    background-position: 0 0;
    color: #000;
}

@media (max-width:550px) {
    .popup__title {
        font-size: 26px;
        font-weight: 600;
        letter-spacing: 2px;
    }

    input.form__text {
        font-size: 17px;
        margin: 0 10px 30px;
    }

    .form__text:not(:last-child) {
        margin: 0 10px 30px;
    }

    button.form__submit {
        padding: 10px 20px;
        width: 150px;
        font: 400 18px tahoma;
    }

    .close:before,
    .close:after {
        left: 15px;
        height: 24px;
        width: 2px;
    }
}

@media (max-width:450px) {
    .forms__submit p {
        width: 100%;
    }

    button.form__submit {
        width: 100%;
    }
}